In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt

In [2]:
curr_path = os.getcwd()
input_path = os.path.join(curr_path,'merged_data_1020.xlsx')

In [3]:
# a helper function concats data among lagged window (length=lags) with the target
# e.g, for input dat with var = [date, X, y], lags = 2, 
#  the returned dataset will have colunn names [date_2, X_2, y_2, date_1, X_1, y_1, date, X, y] with length - 2
data = pd.read_excel(
    input_path,
    engine='openpyxl',
)

def flatten_data(dat, lags = 3):
    new_data = dat.copy()

    # add variables you don't want to include below
    dropped_col = []
    for i in range(dat.shape[1]):
        new_data.columns.values[i] = new_data.columns.values[i] + '_'  + str(0)
    
    #new_data.drop(dropped_col, axis=1, inplace=True)
    
    for n in range(lags):
        fill_data = dat.shift(periods = n+1)
        fill_data = fill_data.iloc[n+1: , :]
        new_data = new_data.iloc[1:, :]
        new_data = pd.concat([fill_data, new_data], axis=1)
        
        # rename added columns
        for i in range(dat.shape[1]):
            new_data.columns.values[i] = dat.columns.values[i][:-2] + '_'  + str(n+1)
        new_dropped_col=[]
        for i in range(len(dropped_col)):
            name = dropped_col[i]+'_'+str(n+1)
            new_dropped_col.append(name)
        new_data.drop(new_dropped_col, axis=1, inplace=True)
        
    return new_data

In [4]:
new_d = flatten_data(data, lags=6)

In [5]:
new_d.columns.values

array(['Date_6', 'SP500-Price_6', 'SP500-EPS-Index_6', 'gdp_6',
       'IndustrialProduction_6', 'GS10_6', 'ManufacturingNewOrders_6',
       'CPIFABSL_6', 'MedianUsualWeeklyRealEarnings_6', 'PCE_6', 'PPI_6',
       'ConstructionSpending_6', 'VolumeOfTotalRetailTradeSales-GR_6',
       'HousingSales_6', 'UnemploymentRate_6', 'EffectiveRate_6', 'M2_6',
       'GovernmentBudgetBalance_6', 'Date_5', 'SP500-Price_5',
       'SP500-EPS-Index_5', 'gdp_5', 'IndustrialProduction_5', 'GS10_5',
       'ManufacturingNewOrders_5', 'CPIFABSL_5',
       'MedianUsualWeeklyRealEarnings_5', 'PCE_5', 'PPI_5',
       'ConstructionSpending_5', 'VolumeOfTotalRetailTradeSales-GR_5',
       'HousingSales_5', 'UnemploymentRate_5', 'EffectiveRate_5', 'M2_5',
       'GovernmentBudgetBalance_5', 'Date_4', 'SP500-Price_4',
       'SP500-EPS-Index_4', 'gdp_4', 'IndustrialProduction_4', 'GS10_4',
       'ManufacturingNewOrders_4', 'CPIFABSL_4',
       'MedianUsualWeeklyRealEarnings_4', 'PCE_4', 'PPI_4',
       'ConstructionSpending_4', 'VolumeOfTotalRetailTradeSales-GR_4',
       'HousingSales_4', 'UnemploymentRate_4', 'EffectiveRate_4', 'M2_4',
       'GovernmentBudgetBalance_4', 'Date_3', 'SP500-Price_3',
       'SP500-EPS-Index_3', 'gdp_3', 'IndustrialProduction_3', 'GS10_3',
       'ManufacturingNewOrders_3', 'CPIFABSL_3',
       'MedianUsualWeeklyRealEarnings_3', 'PCE_3', 'PPI_3',
       'ConstructionSpending_3', 'VolumeOfTotalRetailTradeSales-GR_3',
       'HousingSales_3', 'UnemploymentRate_3', 'EffectiveRate_3', 'M2_3',
       'GovernmentBudgetBalance_3', 'Date_2', 'SP500-Price_2',
       'SP500-EPS-Index_2', 'gdp_2', 'IndustrialProduction_2', 'GS10_2',
       'ManufacturingNewOrders_2', 'CPIFABSL_2',
       'MedianUsualWeeklyRealEarnings_2', 'PCE_2', 'PPI_2',
       'ConstructionSpending_2', 'VolumeOfTotalRetailTradeSales-GR_2',
       'HousingSales_2', 'UnemploymentRate_2', 'EffectiveRate_2', 'M2_2',
       'GovernmentBudgetBalance_2', 'Date_1', 'SP500-Price_1',
       'SP500-EPS-Index_1', 'gdp_1', 'IndustrialProduction_1', 'GS10_1',
       'ManufacturingNewOrders_1', 'CPIFABSL_1',
       'MedianUsualWeeklyRealEarnings_1', 'PCE_1', 'PPI_1',
       'ConstructionSpending_1', 'VolumeOfTotalRetailTradeSales-GR_1',
       'HousingSales_1', 'UnemploymentRate_1', 'EffectiveRate_1', 'M2_1',
       'GovernmentBudgetBalance_1', 'Date_0', 'SP500-Price_0',
       'SP500-EPS-Index_0', 'gdp_0', 'IndustrialProduction_0', 'GS10_0',
       'ManufacturingNewOrders_0', 'CPIFABSL_0',
       'MedianUsualWeeklyRealEarnings_0', 'PCE_0', 'PPI_0',
       'ConstructionSpending_0', 'VolumeOfTotalRetailTradeSales-GR_0',
       'HousingSales_0', 'UnemploymentRate_0', 'EffectiveRate_0', 'M2_0',
       'GovernmentBudgetBalance_0'], dtype=object)

In [6]:
new_d.head()

,Date_6,SP500-Price_6,SP500-EPS-Index_6,gdp_6,IndustrialProduction_6,GS10_6,ManufacturingNewOrders_6,CPIFABSL_6,MedianUsualWeeklyRealEarnings_6,PCE_6,...,MedianUsualWeeklyRealEarnings_0,PCE_0,PPI_0,ConstructionSpending_0,VolumeOfTotalRetailTradeSales-GR_0,HousingSales_0,UnemploymentRate_0,EffectiveRate_0,M2_0,GovernmentBudgetBalance_0
6,1969-08-01,94.18,100.000000,1038.147,NaN,6.69,NaN,38.4,NaN,609.9,...,NaN,634.0,36.7,NaN,44.918291,24100,4.2,8.98,583.4,8.706
7,1969-09-01,94.51,100.287869,1038.147,NaN,7.16,NaN,38.6,NaN,613.2,...,NaN,632.3,36.7,NaN,44.244295,24100,4.4,7.76,587.3,8.706
8,1969-10-01,95.52,99.682710,1038.147,NaN,7.10,NaN,38.7,NaN,618.5,...,NaN,636.0,36.8,NaN,44.547461,24200,4.6,8.10,592.9,8.706
9,1969-11-01,96.21,99.067314,1051.200,NaN,7.14,NaN,39.1,NaN,620.5,...,NaN,642.4,36.8,NaN,45.085360,25700,4.8,7.95,590.8,-7.759
10,1969-12-01,91.11,98.459021,1051.200,NaN,7.65,NaN,39.5,NaN,622.8,...,NaN,646.3,36.9,NaN,45.113801,23800,4.9,7.61,597.5,-7.759